@{
    ViewBag.Title = "Info";
}

<h3>"Aerodrom" je aplikacija jednostavnog imena i jos jednostavnijeg interfejsa koja Vam omogućava kupovinu avionske karte iz svoga doma. Za kupovinu karte, kliknite na "Kupi kartu" i popunite potrebne podatke.</h3>
<br><br>
<img src="~/images/aerodrom2.jpg" alt="image2" width="640" height="480"/>