@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>
<h3>Prijavite bug ili dajte sugestiju</h3>

<address>
    ETF<br />
    Univerzitet u Sarajevu<br />
</address>
<h4>Developer team:</h4>
<address>
    <a href="mailto:kalomerovi1@etf.unsa.ba">kalomerovi1@etf.unsa.ba</a><br />
   <a href="mailto:nimsirovic1@etf.unsa.ba">nimsirovic1@etf.unsa.ba</a>
</address>

<img src="~/images/aerodrom3.jpg">