@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DOBRODOŠLI</h1>
    <p class="lead">Dobrodošli na web stranicu aplikacije "Aerodrom". Kliknite na "Info" za više informacija ili "Kontakt" za dodatna pitanja.</p>
    <img src="~/images/aerodrom1.jpeg" alt="Sample Photo" />
</div>