@model Aerodrom.Models.Dostava

@{
    ViewBag.Title = "Skini s lise";
}

<h2>Skini s liste</h2>

<h3>Sigurno brisete ovu dotavu s liste?</h3>
<div>
    <h4>Dostava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kupac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kupac)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisi" class="btn btn-default" /> |
            @Html.ActionLink("Vrati se na listu dostava", "Index")
        </div>
    }
</div>
